<form method="post" action="/equipment/<%= @equipment.id %>">
  <label for="model">Model:</label>
  <input
  type="text"
  name="model"
  id="model"
  value="<%= @equipment.model %>"
  />

  <label for="category">Category:</label>
  <input
  type="text"
  name="category"
  id="category"
  value="<%= @equipment.category %>"
  />

  <label for="day_rate">Day rate:</label>
  <input
  type="text"
  name="day_rate"
  id="day_rate"
  value="<%= @equipment.day_rate %>"
  />

  <label for="quantity">Quantity:</label>
  <input
  type="text"
  name="quantity"
  id="quantity"
  value="<%= @equipment.quantity %>"
  />

  <input type='submit' value="Edit Equipment Details">
</form>
