<h1>Equipment</h1>

<table>
  <tr>
    <th>Model</th>
    <th></th>
    <th>Category</th>
    <th></th>
    <th>Day_rate</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Edit Kit</th>
    <th></th>
    <th>Delete Kit</th>
  </tr>
  <% for equipment in @equipment %>
  <tr>
    <td><a href="/equipment/<%= equipment.id %>"><%= equipment.model %></a></td>
    <td>|</td>
    <td><%= equipment.category %></td>
    <td>|</td>
    <td><%= equipment.day_rate %></td>
    <td>|</td>
    <td><%= equipment.quantity %></td>
    <td>|</td>
    <td><a class="btn btn--action" href="/equipment/<%= equipment.id %>/edit">Edit equipment</a></td>
    <td>|</td>
    <td><form action="/equipment/<%= equipment.id %>/confirm" method="POST">
      <input class="btn btn--danger" type="submit" value="delete" />
    </form><td>|</td>
  </tr>
  <% end %>
</table>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/equipment/new">New Equipment</a>
</p>
