<form method="post" action="/rentals/<%= @rental.id %>">
  <label for="customer_id">Customer id:</label>
  <input
  type="text"
  name="customer_id"
  id="customer_id"
  value="<%= @rental.customer_id %>"
  />

  <label for="equipment_id">Equipment id:</label>
  <input
  type="text"
  name="equipment_id"
  id="equipment_id"
  value="<%= @rental.equipment_id %>"
  />

  <label for="hire_duration">Hire duration</label>
  <input
  type="text"
  name="hire_duration"
  id="hire_duration"
  value="<%= @rental.hire_duration %>"
  />

  <label for="quantity">Quantity</label>
  <input
  type="text"
  name="quantity"
  id="quantity"
  value="<%= @rental.quantity %>"
  />

  <input type='submit' value="Delete Rental Details">
</form>
