<form method="post" action="/rentals/<%= @customer.id %>">
  <label for="name">Name:</label>
  <input
  type="text"
  name="name"
  id="name"
  value="<%= @customer.name %>"
  />

  <label for="account_number">Account Number:</label>
  <input
  type="text"
  name="account_number"
  id="account_number"
  value="<%= @customer.account_number %>"
  />

  <label for="shipping_info">Shipping_info:</label>
  <input
  type="text"
  name="shipping_info"
  id="shipping_info"
  value="<%= @customer.shipping_info %>"
  />

<form method="post" action="/equipment/<%= @equipment.id %>">
  <label for="model">Model:</label>
  <input
  type="text"
  name="model"
  id="model"
  value="<%= @equipment.model %>"
  />

  <label for="category">Category:</label>
  <input
  type="text"
  name="category"
  id="category"
  value="<%= @equipment.category %>"
  />

  <label for="day_rate">Day rate:</label>
  <input
  type="text"
  name="day_rate"
  id="day_rate"
  value="<%= @equipment.day_rate %>"
  />

  <label for="quantity">Quantity:</label>
  <input
  type="text"
  name="quantity"
  id="quantity"
  value="<%= @equipment.quantity %>"
  />

  <input type='submit' value="Edit Rental Details">
</form>
