<h1>Rentals</h1>

<table>
  <tr>
    <th>Customer_id</th>
    <th></th>
    <th>Equipment_id</th>
    <th></th>
    <th>Hire_duration</th>
    <th></th>
    <th>Quantity</th>
    <th></th>
    <th>Edit Rental</th>
    <th></th>
    <th>Off hire</th>
  </tr>
  <% for rental in @rentals %>
  <% customer = rental.customer(rental.customer_id) %>
  <tr>
    <td><a href="/rentals/<%= rental.id %>"><%= customer.name %></a></td>
    <td>|</td>
    <td><%= rental.equipment_id %></td>
    <td>|</td>
    <td><%= rental.hire_duration %></td>
    <td>|</td>
    <td><%= rental.quantity %></td>
    <td>|</td>
    <td><a class="btn btn--action" href="/rentals/<%= rental.id %>/edit">Edit rental</a></td>
    <td>|</td>
    <td><form action="/rentals/<%= rental.id %>/delete" method="POST">
      <input class="btn btn--action" type="submit" value="Off Hire" />
    </form><td>|</td>
  </tr>
  <% end %>
</table>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/rentals/new">New Rental</a>
</p>
