<h1>Rentals</h1>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/rentals/new">New rental!</a>
</p>

<ul>
  <% for rental in @rentals %>
  <% for customer in rental.customers %>


  <p><%= customer.name %> <%= @actions.sample %>
    <% end %>
    <% for item in rental.equipment %>
    <%= item.model %> </p>
    <% end %>
      <form action="/rentals/<%= rental.id %>/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
      <form action="/rentals/<%= rental.id %>/edit" method="GET">
        <input class="btn btn--danger" type="submit" value="edit/return" />
      </form>
    <% end %>

</ul>


<!-- #this needs sorted for loop is pulling in wrong info -->
