<h1>Surf Rental!</h1>

<form action="/rentals" method="post">
  <label>
  Select category:
    <select name="category">
      <% for equipment in @equipment %>
      <option value="<%= equipment.id %>"><%= equipment.category %></option>
      <% end %>
    </select>
  </label>

  <label>
  Select equipment:
    <select name="equipment_id">
      <% for equipment in @equipment %>
      <option value="<%= equipment.id %>"><%= equipment.model %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a customer:
    <select name="customer_id">
      <% for customer in @customers %>
      <option value="<%= customer.id %>"><%= customer.name %></option>
      <% end %>
    </select>
  </label>

  <label>
    Select a quantity:
      <input type="number" name ="quantity" min="1" max= "6"></input>
  </label>

  <label>
    Select hire duration:
      <input type="number" name ="hire_duration" min="1" max= "365"></input>
  </label>

  <input class="btn btn--action" type='submit' value="Hire!">
</form>
