<h1>Customer_id: <%= @rental.customer_id %></h1>

<p>Equipment_id: <%= @rental.equipment_id %></p>

<p>Equipment Hired: <%= @equipment.model %></p>

<p>Hire_duration: <%= @rental.hire_duration %></p>

<p>Quantity: <%= @rental.quantity %></p>

<br>
<p>This kit is in the pipe!</p>
<br>
<img src="/images/surf2.gif" alt="surf image" style="float:center; width:400px; height:250px">
