<h1>Customers</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Account Number</th>
    <th></th>
    <th>Shipping Info</th>
    <th></th>
    <th>Edit Customer</th>
    <th></th>
    <th>Delete Customer Account</th>
  </tr>
  <% for customer in @customers %>
  <tr>
    <td><a href="/customers/<%= customer.id %>"><%= customer.name %></a></td>
    <td>|</td>
    <td><%= customer.account_number %></td>
    <td>|</td>
    <td><%= customer.shipping_info %></td>
    <td>|</td>
    <td><a class="btn btn--action" href="/customers/<%= customer.id %>/edit">Edit customer</a></td>
    <td>|</td>
    <td><form action="/customers/<%= customer.id %>/delete" method="POST">
      <input class="btn btn--action" type="submit" value="Delete" />
    </form><td>|</td>
  </tr>
  <% end %>
</table>

<p class="btn--wrapper">
  <a class="btn btn--action" href="/customers/new">New Customer</a>
</p>
